<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.web.core.dao.IProductsTableDao">

    <select id="getRowCount" resultType="java.lang.Integer">
        select count(*) from ProductsTable
        WHERE is_top >= 0
    </select>

    <select id="getSearchRowCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from ProductsTable
        WHERE prod_name REGEXP ".*"#{searchInfo}".*" AND is_top >= 0
    </select>

    <select id="getAllProd" resultType="com.web.core.entity.ProductsTable">
    select * from ProductsTable
    WHERE is_top >= 0
    order by update_date desc, id desc
    </select>

    <select id="getPageProd" resultType="com.web.core.entity.ProductsTable" parameterType="map">
        select * from ProductsTable
        WHERE is_top >= 0
        order by update_date desc, id desc
        limit ${offset},${size}
    </select>

    <select id="getTopProd" resultType="com.web.core.entity.ProductsTable" parameterType="int">
        select * from ProductsTable
        WHERE is_top > 0
        order by update_date desc, id desc
        limit 0, #{num}
    </select>

    <select id="selectById" resultType="com.web.core.entity.ProductsTable" parameterType="java.lang.Integer">
        select * from ProductsTable
        WHERE id = #{id} AND is_top >= 0
    </select>

    <select id="selectDelOneById" resultType="com.web.core.entity.ProductsTable" parameterType="java.lang.Integer">
        select * from ProductsTable
        WHERE id = #{id}
    </select>

    <select id="allSearchResult" resultType="com.web.core.entity.ProductsTable" parameterType="java.lang.String">
        select * from ProductsTable
        WHERE prod_name REGEXP ".*"#{searchInfo}".*" AND is_top >= 0
    </select>

    <select id="searchResult" resultType="com.web.core.entity.ProductsTable" parameterType="java.lang.String">
        select * from ProductsTable
        WHERE prod_name REGEXP ".*"#{searchInfo}".*" AND is_top >= 0
        order by update_date desc, id desc
        limit ${offset},${size}
    </select>

    <insert id="addProdSimple" parameterType="map" keyProperty="id">
        INSERT INTO ProductsTable (prod_name, prod_introduction, image_urls, cover_image_url)
        VALUES (#{prod_name}, #{prod_introduction}, #{image_urls}, #{cover_image_url});
    </insert>

    <delete id="delOneById" parameterType="java.lang.Integer">
        DELETE FROM ProductsTable
        WHERE id = #{id}
    </delete>

    <update id="delProdById" parameterType="java.lang.Integer" >
        UPDATE ProductsTable
        SET is_top = -1
        WHERE id = #{id}
    </update>



    <!--<select id="fetchByParams" resultType="com.jikexueyuan.demo.entity.TableIp" parameterType="map">-->
        <!--select * from table_ip-->
        <!--where 1=1-->
        <!--<if test="country != null and country != ''">-->
            <!--and country = '${country}'-->
        <!--</if>-->
        <!--<if test="isp != null and isp != ''">-->
            <!--and isp = '${isp}'-->
        <!--</if>-->
        <!--limit ${size}-->
    <!--</select>-->

</mapper>
